*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about1
{
    background-color: rgb(98, 171, 98);
    line-height: 28px;
}
.about2 
{
    padding: 35px 0px;
}
.about3 
{
    background-color: rgb(128, 202, 128);
}
.about_home 
{
    text-decoration: none;
    color: white;
}
.about_home:hover
{
    color: rgb(24, 51, 101);
}

.swiper-pagination{
    position: static !important;
}

.swiper {
  width: 100%;
  height: 100%;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-wrapper{
  transition-timing-function: linear !important;
}

.star
{
    color: yellow;
}

.jena
{
    
    border: 1px solid rgb(243, 243, 243);
    padding: 20px 50px;
    text-align: left;
    
}
.jena_2
{
    position: absolute;
    left: 0px;
    top: 100px;
    height: 70px;
    width: 70px;
}
.jena_out
{
    /* padding: 50px; */
    position: relative;
    padding:35px ;
    
}
a 
{
    text-decoration: none !important;
}

/* trainers */
.white{
    text-align: center;
}

.white img 
{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  
  
}
.white_in
{
    position: relative;
    margin-bottom: 20px;
}
.sm
{
    
    display: none;
}
.white:hover .sm 
{
    display: block;
    position: absolute;
    top: 110px;
    left: 120px;
    z-index: 1;
}
.sm i
{
    color: white;
}

/* event */

.event_img
{
position: relative;
}
.card-body
{
    margin-top: -60px;
}
.card 
{
    border: none;
}
.intro
{
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 20px;
}
.sunday
{
    color: gray;
}

/* pricing */

.free
{
    border: 1px solid gainsboro;
    border-radius: 5px;
    text-align: center;
}
.free1 
{
  background-color: rgb(238, 236, 238);
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
}
.free2 
{
    font-size: 22px;
    padding: 15px;
}
.free ul li 
{
    display: block;
    line-height: 35px;
}
.buy_now
{
    width: 70%;
    margin: auto;
    padding: 8px 18px;
    border-radius: 5px;
    color: white;
    background-color: rgb(38, 188, 113);
}
.buy_now:hover
{
    background-color: rgb(47, 232, 139);
}
.free1_1
{
    background-color: rgb(38, 188, 113);
    color: white;
}

.add i
{
 font-size: 25px;
 height: 30px;
 width: 30px;
 padding: 22px;
 background-color: rgb(88, 145, 88);
 align-items: center;
 justify-content: center;
 display: flex;
 border-radius: 50%;
 color: white;
 margin-right: 10px;
}
.send 
{
    background-color: rgb(105, 209, 150);
    border-radius: 25px;
    padding: 10px 25px;
    color: white;
    border: none;
    margin-top: 10px;
}